@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0b;
}
@font-face {
  font-family: "KumbhSans-Black";
  src: url("/fonts/KumbhSans-Black.woff") format("woff");
}
@font-face {
  font-family: "KumbhSans-Bold";
  src: url("/fonts/KumbhSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "KumbhSans-ExtraBold";
  src: url("/fonts/KumbhSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "KumbhSans-ExtraBold";
  src: url("/fonts/KumbhSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "KumbhSans-ExtraLight";
  src: url("/fonts/KumbhSans-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "KumbhSans-Light";
  src: url("/fonts/KumbhSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.woff") format("woff");
  /* Add additional font properties if needed */
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("/fonts/Gilroy-Heavy.woff") format("woff");
  /* Add additional font properties if needed */
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.woff") format("woff");
  /* Add additional font properties if needed */
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("/fonts/Gilroy-Medium.woff") format("woff");
  /* Add additional font properties if needed */
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.woff") format("woff");
  /* Add additional font properties if needed */
}
/* styles.css */
/* styles.css */
.border-gradient {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-image-slice: 5;
  border-radius: 1rem; /* Adjust this value to your desired roundness */
  overflow: hidden; /* Ensure rounded corners are applied */
}
.border-gradient-2 {
  border-width: 1px;
  border-style: solid;
  border-top: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    rgba(191, 200, 216, 0) -14.16%,
    #686d76 47.11%,
    rgba(194, 203, 220, 0) 116.65%
  );

  border-top: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    rgba(191, 200, 216, 0) -14.16%,
    #686d76 47.11%,
    rgba(194, 203, 220, 0) 116.65%
  );

  border-image-slice: 5;
  border-radius: 1rem; /* Adjust this value to your desired roundness */
  overflow: hidden; /* Ensure rounded corners are applied */
}
.border-gradient-3 {
  border-style: solid;
  border-top: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    rgba(191, 200, 216, 0) -14.16%,
    rgba(104, 109, 118, 0.5) 47.11%,
    rgba(194, 203, 220, 0) 116.65%
  );

  border-image-slice: 1;
  border-radius: 1rem; /* Adjust this value to your desired roundness */
  overflow: hidden; /* Ensure rounded corners are applied */
}

.slider {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #f3e6ff; /* Unselected region color */
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* Ensures that the track fits within the slider bounds */
}

/* Style for the selected range track */
.slider .slider-track-2 {
  background-color: #7850ff; /* Selected region color */
  height: 100%; /* Full height of the slider */
  border-radius: 5px;
}

/* Style for the thumbs */
.slider .slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 4px;
  background-color: #7850ff;
  border: 1px solid #361e88;
  cursor: grab;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  transform: translateY(-50%);
}

/* Style for the active thumb */
.slider .slider-thumb-active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.help-section {
  background-color: #2c0e5e;
  color: white;
  padding: 50px 20px;
  width: full;
  text-align: center;
}

.help-title {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 40px;

  text-align: center;
}

.highlight {
  color: #dcfd82;
}

.help-features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-item {
  max-width: 250px;
}
.feature-number-box {
  background-color: #2c0e5e;
  border: 2px solid #dcfd82;
  border-radius: 20%;

  display: inline-block;
  padding: 30px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
}

.feature-number {
  color: #dcfd82;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
}

.feature-title {
  color: #dcfd82;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  font-weight: 400;
}
